@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

:root {
  --amarillo-js: #ffd600;
  --blanco: #f0f0f0;
  --gris-claro: #e6e6e6;
  --gris: #646464;
  --negro: #000;
}

body,
.container,
.level-section {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--amarillo-js);
}

/* chrome scrollbar */
::-webkit-scrollbar {
  width: 5px;
  background-color: var(--amarillo-js);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--gris);
  border-radius: 10px;
}

.container {
  flex-direction: column;
  background-color: var(--blanco);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  height: 90%;
  width: 90%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.modal-content {
  background-color: var(--amarillo-js);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#startQuiz {
  height: 250px;
  width: 250px;
  background-color: var(--amarillo-js);
  margin: 50px 0px;
  border-radius: 20px;
  cursor: pointer;
}

#startQuiz:hover {
  transition: ease-in-out 0.3s;
  transform: scale(1.1);
}

#levelSelection,
.level-section {
  height: 100%;
  width: 100%;
}
.level-section {
  flex-direction: column;
  gap: 30px;
}
.level-title {
  width: 80%;
  word-wrap: break-word;
  text-align: center;
}

#advertising {
  width: 80%;
  text-align: center;
  padding: 15px 0px;
}

#question {
  text-align: center;
  width: 80%;
  font-size: 1.2rem;
  font-weight: 700;
  word-wrap: break-word;
  padding: 20px 0px;
}

#options {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

button {
  width: 80%;
  border-radius: 5px;
  padding: 15px 5px;
  border: none;
  font-weight: 800;
  font-size: 1rem;
  background-color: var(--amarillo-js);
  color: var(--gris);
  box-shadow: 0px 2px 5px var(--gris);
  cursor: pointer;
}

button:hover {
  background-color: var(--amarillo-js);
  font-weight: 800;
  color: var(--negro);
  box-shadow: 0px 10px 5px var(--gris);
  transform: scale(1.03);
  transition: 0.3s all;
}

#score {
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

#responseTable {
  display: none;
  height: 45%;
  width: 90%;
  font-size: 0.8rem;
  text-align: left;
  padding: 10px;
  background-color: var(--blanco);
  border-radius: 10px;
  overflow: hidden;
  overflow-y: scroll;
  border-collapse: collapse;
}

th {
  text-align: center;
}

td {
  font-size: 0.7rem;
  border: 2px solid var(--blanco);
  border-radius: 10px;
  text-align: left;
  background-color: var(--gris-claro);
}

.accordion {
  display: none;
}

#correction {
  display: none;
  height: 45%;
  width: 90%;
  text-align: left;
  padding: 10px;
  overflow: hidden;
  overflow-y: scroll;
  margin: 10px 0px;
}

#item {
  margin: 20px 0px;
  padding: 5px;
  background-color: var(--amarillo-js);
  border-radius: 10px;
  box-shadow: 0px 2px 5px var(--gris);
  text-align: left;
}

.correctionText {
  margin: 5px 0px;
}
#toggleAccordion {
  margin-bottom: 20px;
  width: 90%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.fade-in {
  animation: fadeIn ease-in-out 1s;
}

.fade-out {
  animation: fadeOut ease-in-out 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* diseño mobile-first */
@media (min-width: 768px) {
  .level-section {
    width: 50%;
  }
  #options {
    width: 75%;
  }
  button {
    background-color: transparent;
    font-weight: 600;
  }
  #responseTable,
  #correction {
    font-size: 1rem;
  }
  td {
    text-align: left;
    padding: 15px;
  }
  #responseTable {
    border-collapse: separate;
  }
  #questionAnswer {
    width: 20%;
  }
  #yourAnswer {
    width: 40%;
  }
  #correctAnswer {
    width: 40%;
  }
  td {
    font-size: 1rem;
  }
}
