* {
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
}

body,
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #ffd600;
}

.container {
  flex-direction: column;
  gap: 25px;
  background-color: white;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  height: 90%;
  width: 90%;
}

#question {
  text-align: center;
  width: 80%;
  word-wrap: break-word;
}

#options {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

button {
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

#score {
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

#responseTable {
  display: none;
  height: 40%;
  width: 90%;
  font-size: 0.8rem;
  text-align: left;
  padding: 10px;
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
  overflow: hidden;
  overflow-y: scroll;
}

.accordion {
  display: none;
}

#correction {
  display: none;
  height: 40%;
  width: 90%;
  text-align: left;
  padding: 10px;
  overflow: hidden;
  overflow-y: scroll;
  margin-bottom: 10px;
}
#toggleAccordion {
  width: 100%;
  cursor: pointer;
}

/* diseño mobile-first */
@media (min-width: 768px) {
}
