* {
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#responseTable {
  display: none;
}

.accordion {
  display: none; /* Ocultar el acordeón por defecto */
}

#toggleAccordion {
  margin-left: 10px;
}

#correction {
  display: none;
  text-align: center;
  background-color: red;
  height: 100%;
  width: 50%;
}
#toggleAccordion {
  cursor: pointer;
  margin: 30px 0px;
}
